<!DOCTYPE html>

<html><head>
  <title>Postid! </title>
    <link rel="stylesheet" href="https://d2kfjaekmjmy1l.cloudfront.net/websites-public-v7e8cf2f94157.css" data-bundle="websites-public">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="#" rel="shortcut icon" type="image/x-icon">

<meta name="description" content="Postid description! ">
<meta name="keywords" content="">
<meta name="author" content="Philip Bale">

<!-- Facebook -->
<meta property="og:site_name" content="Postid">
<meta property="og:title" content="Postid title ">
<meta property="og:description" content="Postid description! ">
<meta property="og:url" content="http://www.postid.com">
<meta property="og:image" content="#">
<meta property="og:type" content="website">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Postid title">
<meta name="twitter:description" content="Postid description">
<meta name="twitter:image:src" content="#">
<meta name="twitter:domain" content="http://www.postid.com">
<meta name="twitter:app:name:iphone" content="Postid">
<meta name="twitter:app:id:iphone" content="">
<meta name="twitter:app:name:ipad" content="Postid">
<meta name="twitter:app:id:ipad" content="">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">

<style type="text/css">
    #public-landing-page .container {
      font-family: 'Open Sans', sans-serif !important;
    }


    #public-landing-page.template-1 .hero,
    #public-landing-page.template-2 .hero,
    #public-landing-page.template-4 .hero {
      overflow: hidden;
    }
    #public-landing-page .hero .blurred-cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1px;
      background-image: url('https://lh3.googleusercontent.com/K2Zsno7tWiq-brLlf5mSybI6BJr7u6ylF7LrD7zGdimnSFrbfsrFtEOJyfWHa3v0d1qHNf_s3Q1biVEBfEVRImA-ih2rfg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
      filter: blur(50px);
      margin: -60% -40% -40%;
    }
    #public-landing-page .hero .blurred-cover .darken {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2px;
      background: rgba(0,0,0,.3);
    }
</style>


<style type="text/css"></style></head>
<body><div id="skit-controller"><div id="public-landing-page" class="
    template-1
    full-screen
    centered
  ">

  <section class="hero">
      <div class="blurred-cover">
        <div class="darken"></div>
      </div>
    <div class="container">
      <nav class="navbar navbar-default
        
        
        ">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand visible-xs" href="#">
                <img alt="Postid" src="#" class="app-icon">
              </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="mailto:support@postid.com" target="_blank">Support</a></li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="row">
          <div class="col-sm-5 col-xs-12 text-center">
                <%= image_tag('iPhone.png', class: "screenshot", alt: "Screenshot of Postid") %>
          </div>
          <div class="col-sm-7 col-xs-12">
            <h1>   
            <%= image_tag('postid-logo.png', class: "app-logo", alt: "Logo") %>
  </h1>
            <h2>postid tagline here </h2>
              <p>Postid asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf ! </p>
            
            
              <a href="#" class="btn btn-primary" target="_blank">
                Join Waiting List
              </a>
          </div>
        </div>

    </div>
  </section>



    <footer>
      <div class="container">
        <div class="footer-nav col-xs-12 col-sm-8">
            <a href="mailto:support@postid.com" target="_blank">Support</a>
            <a href="http://twitter.com/postid" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://facebook.com/postid/" target="_blank"><i class="fa fa-facebook-square"></i></a>
  
        </div>
        <div class="launchkit-promo col-xs-12 col-sm-4" style="visibility: hidden;">
          <img src="https://d2kfjaekmjmy1l.cloudfront.net/images/icon-v8d70a510a2c9.png">
          <a href="https://launchkit.io/websites/?utm_campaign=Websites%20Footer&amp;utm_medium=referral&amp;utm_source=phpu--VH4rw" target="_blank">Website by LaunchKit</a>
        </div>
      </div>
    </footer>

</div>

 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</div>
 
    <script src="https://d2kfjaekmjmy1l.cloudfront.net/websites-public-v6798139563f5.js" data-bundle="websites-public"></script>
 
</body></html>
